/* * {
  margin: 0;
  padding: 0;
} */

.background-image {
  background-image: url(./photos/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  z-index: 99;
  display: block;
}
.btns-inicio {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0px, auto;
}
#forca {
  background-color: rgba(0, 0, 0, 0.459);
  display: none;
}
.canvas {
  display: flex;
  justify-content: center;
}
iframe {
  display: none;
}
.inside-game {
  display: none;
  flex-direction: row;
  align-items: center;
  margin: 50px;
  justify-content: space-evenly;
  height: 100px;
}
#get-out,
#new-game {
  width: 200px;
}
.alert-rules {
  font-family: "Amatic SC", cursive;
}
#swal2-html-container{
  text-align: left;
}
section > h1 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}
ul > li {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.swal2-styled {
  font-family: "Amatic SC", cursive;
  width: 80px;
  font-size: 1.5rem;
}
@media screen and (max-width:768px){
  ul > li {
    font-size: 1rem;
  }
  section > h1 {
    font-size: 2rem;
  }
}